<div class="app-loader" *ngIf="loading!==100">
  <div>
    <img src="assets/logo.svg" alt="*" class="game-logo">
  </div>
  <div class="loader">
    <div class="percentage" [ngStyle]="{'width': loading+'%'}"></div>
    <div class="text">{{loading}}%</div>
  </div>
</div>

<div class="game" [hidden]="loading<100">
  <div class="wrapper">
    <div>
      <img src="assets/logo.svg" alt="*" class="game-logo">
    </div>
    <div class="navigation">
      <button (click)="onTask1()" [ngClass]="{'selected': activeTab === 'task1'}">Task 1</button>
      <button (click)="onTask2()" [ngClass]="{'selected': activeTab === 'task2'}">Task 2</button>
      <button (click)="onTask3()" [ngClass]="{'selected': activeTab === 'task3'}">Task 3</button>
    </div>

    <div id="pixiGameContainer" #pixiGameContainer></div>
  </div>
</div>